:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --fs-heading: 2rem;
    --fs-tagline: .9625rem;
    --fs-text: .8125rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: var(--fs-text);
    padding-top: 5rem;
    text-align: center;
}

h1 {
    font-size: var(--fs-heading);
    color: var(--very-dark-magenta);
    line-height: 1;
    max-width: 12ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.container {
    max-width: 70rem;
    padding: 0 1em;
    margin: 0 auto;
}

.top {
    margin-bottom: 3rem;
}

.tagline {
    font-size: var(--fs-tagline);
    color: var(--dark-grayish-magenta);
    max-width: 22rem;
    margin-left: auto;
    margin-right: auto;
} 

.rating {
    max-width: 21rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stars-block {
    justify-content: center; 
    color: var(--very-dark-magenta);
    background-color: var(--light-grayish-magenta);
    font-weight: 700;
    padding: .6rem;
    border-radius: .5rem;
}

.stars {
    padding-bottom: .6rem;
}

.stars img {
    padding-left: .1rem;
    padding-right: .1rem;
}

.card {
    background-color: var(--very-dark-magenta);
    color: var(--light-grayish-magenta);
    padding: 2.1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    text-align: left;
    max-width: 21rem;
    margin-left: auto;
    margin-right: auto;
}

.card p {
    line-height: 1.1rem;
}

.card-top {
    display: flex;
    align-items: center;
}

.card-top img {
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.card-top .name {
    font-weight: 700;
}

.card-top .verify {
    color: var(--soft-pink);
    font-weight: 500;
}

.card-bottom p {
    line-height: 1.2rem;
}

.card-bottom .quote {
    margin-top: 1.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 50em) {
    :root {
        --fs-heading: 3rem;
    }
}